@import '../../../scss/utils.scss';

.cart-list {
  display: block;
  width: 100%;
  .cart-items {
    @include flexBox($direction: column);
    margin-top: 40px;
  }
  @include respond-to('medium'){
    .cart-items {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}