@import '../../../scss/utils.scss';

.packs {

  .box {
    display: block;
    padding: 20px;
    margin: 10px 0;
    background-color: rgb(245, 245, 245);

    .options {
      @include flexBox($content: space-around);
      margin-top: 10px;
    }

    button {
      padding: 10px;
      background: $lightOrange;
      border: none;
      border-radius: 15px;
      color: #FFF;
    }

    button.active {
      background: $orangeBase;
    }

  }

  .prices {
    @include flexBox($content: space-between);
    margin-bottom: 20px;
    font-size: 0.8em;

    .discount {
      color: red;
    }

    .original-price {
      color: gray;
    }

    .final-price {
      color: green;
    }

  }

}