.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%;
  background-color: #ffffffcf;
}

.navbar .navbar-item {
  display: block;
  width: 300px;
  padding: 15px;
  font-size: 1.3em;
  color: #fe5c3d;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}