@import '../../../scss/utils.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%;
  background-color: #ffffffcf;

  .navbar-item {
    display: block;
    width: 300px;
    padding: 15px;
    font-size: 1.3em;
    color: $orangeBase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

}