@import '../../../scss/utils.scss';

.cart-box .cart-button {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px 0;
  margin-top: 15px;
  background-color: $orangeBase;
  color: #FFF;
  cursor: pointer;
}

.cart-box .cart-button:hover {
  background-color: $darkOrange;
}