@import '../../../scss/utils.scss';

.cart-box .cart-button {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px 0;
  margin-top: 15px;
  background-color: $orangeBase;
  color: #FFF;
  cursor: pointer;
}

.cart-box .cart-button:hover {
  background-color: $darkOrange;
}

.cart-box .cart-quantity {
  @include flexBox($content: center, $items: center);
}

.cart-box .cart-quantity span {
  font-size: 2em;
  color: $orangeBase;
  padding: 10px;
  cursor: pointer;
}

.cart-box .cart-quantity .remove {
  font-size: 2.5em;
}

.cart-box .cart-quantity .amount {
  display: block;
  max-width: 120px;
  margin: 0 15px;
  max-height: 30px;
  text-align: center;
  font-size: 1.2em;
}