@import '../../../scss/utils.scss';

.filter {
  @include flexBox($content: space-between);
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  background-color: $orangeBase;
  padding: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
  select {
    display: block;
    width: 100px;
    padding: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/png;base64,UklGRpIAAABXRUJQVlA4TIUAAAAvP8APEEcQEQoi2aCj70cBRVRRQOCq94cE20iSnFzVx0AIYGN9CPhgYWtCIAFxab/cPRcrov+K3LZt1MGr3yE/6Rlb3NTUey6H6t8ZpB61KmjRAFI7uMMjLyd4CJ6JwRIgGZAUdTnqktRkqUlTylNqINdCroH7S5rINJE0oWpTZBvkZz0CAA=='),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    border-radius: 15px;
  }
  
  .search-box {
    input {
      border-radius: 15px;
      border: none;
      padding: 10px;
      margin-left: 5px;
    }
  }

  @include respond-to('medium') {
    select {
      width: 300px;
    }
  }
}