@import '../../../scss/utils.scss';

.product-item {
  @include flexBox($direction: column, $basis: 23%);
  @extend .box-basic;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px 1%;
}

.product-item .header{
  display: block;
  height: 60px;
  font-weight: 100;
  font-size: 0.8em;
}

.product-item .image {
  display: block;
  width: 80%;
  height: 250px;
  margin: 0 auto;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
