@import '../../../scss/utils.scss';

.product-item {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  box-sizing: border-box;
  border: 1px solid $orangeBase;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.43);
  padding: 10px 20px;
  margin: 10px 1%;
}

.product-item .header{
  display: block;
  height: 60px;
  font-weight: 100;
  font-size: 0.8em;
}

.product-item .image {
  display: block;
  width: 80%;
  height: 250px;
  margin: 0 auto;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
