@import '../../../scss/utils.scss';

.product-item {
  @include flexBox($direction: column);
  @extend .box-basic;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px 0;

  .header{
    display: block;
    height: 60px;
    font-weight: 100;
    font-size: 0.8em;
  }

  .image {
    position: relative;
    display: block;
    width: 40%;
    height: 250px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
    }
  }

  @include respond-to('medium') {
    width: 340px;
    margin-right: 10px;

    .image {
      width: 80%;
    }
  }
}