@import '../../../scss/utils.scss';

.cart-item {
  @include flexBox();
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid $orangeBase;
  .image {
    display: block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}